In [1]:
#this section contains all the scripts that need to be run once at the begining of the script
import pandas as pd
import numpy as np
import os

path = r'C:\Users\sryan\Documents\CareerFoundry\Insta Cart Basket Analysis'

df_ords = pd.read_csv(os.path.join(path, '02 data', 'Prepared data', 'orders_wrangled.csv'), index_col = False)
df_prod = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'products.csv'), index_col = False)
df_deps = pd.read_csv(os.path.join(path, '02 data', 'Prepared data', 'departments_wrangled.csv'), index_col = False)

In [2]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [58]:
#test data frame
df_test = pd.DataFrame()
data = {'mix':['a', 'b', 1, True], 'mix2': [3, 4, 'c', False]}
df_test = pd.DataFrame(data)

#check for mixed data types
mixed_col = []
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)
    mixed_col.append(col)

mix
mix2

In [76]:
df_prod.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [79]:
df_nan=df_prod[df_prod['product_name'].isnull()==True]

In [80]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [82]:
df_prod.shape

(49693, 5)

In [84]:
df_prod_clean = df_prod[df_prod['product_name'].isnull() == False]

In [85]:
df_prod_clean.shape

(49677, 5)

In [87]:
df_dups = df_prod_clean[df_prod_clean.duplicated()]

In [88]:
df_prod_clean_no_dups = df_prod_clean.drop_duplicates()
df_prod_clean_no_dups.shape

(49672, 5)

In [89]:
df_prod_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

Answers to the 4.5 task below this point

In [2]:
df_ords.describe()

,Unnamed: 0,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Unnamed looks like a second index column and could be removed.  there was probably also a way to prevent it when I saved the df         to a CSV
user_id looks good that variable has no limit other than no negatives
cust_order_num looks good. this variable is a count of orders placed by a customer.  the only real limit here is no negatives
orders_day_of_week looks good. there should be a range of 0-6 with no negatives
order_hour_of_day also looks good.  this should have a range of 0 - 23 with no negatives
days_since_last_order looks good there should be a range of 0 - 30 to cover the max of 31 days in a month.

In [7]:
#check for mixed data types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

this section was a side deistraction that I will come back to

In [74]:
#creates a dictonary of mixed columns and the counts of each data type
mixed_dict = {}
for item in mixed_col:
    data_type = {}
    print(item)
    for index, row in df_test.iterrows():
        dat = str(type(df_test.loc[index][item]))
        print((df_test.loc[index][item]), dat)
        #data_type.update(type(df_test.loc[index][item]: 1)
    #mixed_dict.update(item:data_type)

mix
a <class 'str'>
b <class 'str'>
1 <class 'int'>
True <class 'bool'>
mix2
3 <class 'int'>
4 <class 'int'>
c <class 'str'>
False <class 'bool'>