In [2]:
#this section contains all the scripts that need to be run once at the begining of the script
import pandas as pd
import numpy as np
import os

path = r'C:\Users\sryan\Documents\CareerFoundry\Insta Cart Basket Analysis'

df_ords = pd.read_csv(os.path.join(path, '02 data', 'Prepared data', 'orders_wrangled.csv'), index_col = False)
df_prod = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'products.csv'), index_col = False)
df_deps = pd.read_csv(os.path.join(path, '02 data', 'Prepared data', 'departments_wrangled.csv'), index_col = False)

In [3]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [3]:
#test data frame
df_test = pd.DataFrame()
data = {'mix':['a', 'b', 1, True], 'mix2': [3, 4, 'c', False]}
df_test = pd.DataFrame(data)

#check for mixed data types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix
mix2

In [4]:
df_prod.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [5]:
df_nan=df_prod[df_prod['product_name'].isnull()==True]

In [6]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [7]:
df_prod.shape

(49693, 5)

In [8]:
df_prod_clean = df_prod[df_prod['product_name'].isnull() == False]

In [9]:
df_prod_clean.shape

(49677, 5)

In [10]:
df_dups = df_prod_clean[df_prod_clean.duplicated()]

In [12]:
df_dups.head()

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [11]:
df_prod_clean_no_dups = df_prod_clean.drop_duplicates()
df_prod_clean_no_dups.shape

(49672, 5)

In [12]:
#I commented this out to prevent writing over the prevously saved file
#df_prod_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# Answers to the 4.5 task below this point

In [1]:
df_prod_clean_no_dups.describe()

NameError: name 'df_prod_clean_no_dups' is not defined

Unnamed looks like a second index column and could be removed.  there was probably also a way to prevent it when I saved the df         to a CSV
user_id looks good that variable has no limit other than no negatives
cust_order_num looks good. this variable is a count of orders placed by a customer.  the only real limit here is no negatives
orders_day_of_week looks good. there should be a range of 0-6 with no negatives
order_hour_of_day also looks good.  this should have a range of 0 - 23 with no negatives
days_since_last_order looks good there should be a range of 0 - 30 to cover the max of 31 days in a month.

In [14]:
#check for mixed data types
for col in df_prod_clean_no_dups.columns.tolist():
  weird = (df_prod_clean_no_dups[[col]].applymap(type) != df_prod_clean_no_dups[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prod_clean_no_dups[weird]) > 0:
    print (col)

In [15]:
#check for null values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
Cust_order_num                 0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [16]:
#create a new data frame for the null values
df_ords_nan=df_ords[df_ords['days_since_prior_order'].isnull()==True]
df_ords_nan.describe()

,Unnamed: 0,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,2.062090e+05,2.062090e+05,206209.000000,206209.0,206209.000000,206209.000000,0.0
mean,1.712637e+06,1.708462e+06,103105.000000,1.0,2.754118,13.626597,NaN
std,9.874816e+05,9.881299e+05,59527.555167,0.0,2.076205,4.223769,NaN
min,0.000000e+00,2.000000e+01,1.000000,1.0,0.000000,0.000000,NaN
25%,8.579730e+05,8.507300e+05,51553.000000,1.0,1.000000,11.000000,NaN
50%,1.717068e+06,1.706246e+06,103105.000000,1.0,3.000000,14.000000,NaN
75%,2.570518e+06,2.564292e+06,154657.000000,1.0,5.000000,17.000000,NaN
max,3.421069e+06,3.421081e+06,206209.000000,1.0,6.000000,23.000000,NaN

In [14]:
df_ords[df_ords['days_since_prior_order'] == 0]

,Unnamed: 0,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
8,8,2295261,1,9,1,16,0.0
43,43,2557754,4,5,5,13,0.0
189,189,2148135,17,30,6,15,0.0
296,296,965160,24,19,0,16,0.0
337,337,3162630,27,24,2,15,0.0
...,...,...,...,...,...,...,...
3420980,3420980,4277,206206,47,2,17,0.0
3420985,3420985,648225,206206,52,0,19,0.0
3420991,3420991,2475308,206206,58,0,15,0.0
3421001,3421001,1043943,206206,68,0,20,0.0
3421044,3421044,2079142,206208,26,2,16,0.0

These orders have a null value for days_since_prior_order because they are the first order a customer placed so they shouldn't be deleted.  The can be left as null to indicate that they have no previous orders. 0 could indicate an order earlier in the same day as indicated in the above check of 0 days_since_prior_order.

In [13]:
#df_ords['days_since_prior_order'].fillna(0, inplace=True)

In [13]:
#create a new data frame with the duplicate entries
df_ords_dups = df_ords[df_ords.duplicated()]

In [14]:
df_ords_dups.head()

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, Cust_order_num, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [15]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

The code below takes a list of columns with mixed data types and creates a dictionary of the columns as the key and a dictionary of the data types and their counts as the value.  Not really sure if this is a useful bit of code, but it was a fun way to learn how to iterate through a data frame and create dictionaries.  it was also a good reminder of how to create functions.

In [33]:
#test data frame
df_test = pd.DataFrame()
data = {'mix':['a', 'b', 1, True], 'mix2': [3, 4, 'c', False]}
df_test = pd.DataFrame(data)

#check for mixed data types
mixed_col = []
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)
    mixed_col.append(col)

mix
mix2

In [121]:
#function to clean the data type string.  this just makes the for loop a little cleaner
def type_clean(x):
    step_1 = str(x).replace("<class '", '')
    step_2 = step_1.replace("'>", '')

    return step_2

In [138]:
#creates a dictonary of mixed columns and the counts of each data type
mixed_dict = {}
for item in mixed_col:
    data_type = {}
    for index, row in df_test.iterrows():
        if type_clean(type(df_test.loc[index][item])) in data_type.keys():
            data_type[type_clean(type(df_test.loc[index][item]))] += 1
        else:
            data_type.update({type_clean(type(df_test.loc[index][item])):1})
    mixed_dict.update({item:data_type})

In [139]:
print(mixed_dict)

{'mix': {'str': 2, 'int': 1, 'bool': 1}, 'mix2': {'int': 2, 'str': 1, 'bool': 1}}