In [1]:
#this section contains all the commands that need to be run once at the begining of the script
import pandas as pd
import numpy as np
import os

path = r'C:\Users\sryan\Documents\CareerFoundry\Insta Cart Basket Analysis'

df_all_data = pd.read_pickle(os.path.join(path, '02 data', 'Prepared data', 'orders_products_merged.pkl'))
#df_prod = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'products.csv'), index_col = False)
#df_ords_prior = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'orders_products_prior.csv'), index_col = False)

In [2]:
df_all_data.head()

,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [3]:
df = df_all_data[:1000000]

In [4]:
df.shape

(1000000, 15)

In [5]:
#define a function to group prices
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
df['price_range'] = df.apply(price_label, axis = 1 )

C:\Users\sryan\AppData\Local\Temp\ipykernel_43892\4191297467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1 )

In [7]:
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [8]:
df['prices'].max()

14.8

#Apply price range to complete dataframe

In [9]:
df_all_data.loc[df_all_data['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [10]:
df_all_data.loc[(df_all_data['prices'] <= 15) & (df_all_data['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [11]:
df_all_data.loc[df_all_data['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [12]:
df_all_data['price_range_loc'].value_counts()

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

set busiest day field

In [13]:
df_all_data['orders_day_of_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [14]:
result = []

for value in df_all_data["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [15]:
df_all_data['busiest_day'] = result

In [16]:
df_all_data['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Answers to 4.7 task

create a new column based on the client's updated categorizing of busyness

In [17]:
#creates a list of busyness based on daily orders
result = []

for value in df_all_data["orders_day_of_week"]:
  if (value == 0) | (value == 1):
    result.append("Busiest day")
  elif (value == 4) | (value == 3):
    result.append("Least busy")
  else:
    result.append("Regularly busy")

#adds the category list to the dataframe
df_all_data['busiest_days'] = result

In [18]:
df_all_data['busiest_days'].value_counts()

Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: busiest_days, dtype: int64

In [19]:
df_all_data.head()

,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

categorize the hours of the day by busyness

In [20]:
#use value_counts to find the min and max hours
df_all_data['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [21]:
#add label to the highest third of the hours
most_filter = [10, 11, 14, 15, 13, 12, 16, 9]
df_all_data.loc[df_all_data['order_hour_of_day'].isin(most_filter), 'hour_busyness'] = 'Most orders'

In [22]:
#add label to the lowest third of the hours
fewest_filter = [3,4,2,5,1,0,6,23]
df_all_data.loc[df_all_data['order_hour_of_day'].isin(fewest_filter), 'hour_busyness'] = 'Fewest orders'

In [23]:
#add label to the middle third of the hours
avg_filter = [22,21,7,20,19,18,8,17]
df_all_data.loc[df_all_data['order_hour_of_day'].isin(avg_filter), 'hour_busyness'] = 'Average orders'

In [24]:
df_all_data['hour_busyness'].value_counts()

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: hour_busyness, dtype: int64

In [25]:
#export data to pkl
df_all_data.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_col.pkl'))