In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\sryan\Documents\CareerFoundry\Insta Cart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'orders.csv'), index_col = False)
df_prod = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'products.csv'), index_col = False)

In [3]:
#drop an unneeded column
df_ords = df_ords.drop(columns=['eval_set'])

In [4]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [5]:
#check for null values
df_ords['days_since_prior_order'].value_counts(dropna=False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [6]:
#rename an ambiguous column
df_ords.rename(columns={'order_dow' : 'orders_day_of_week'}, inplace=True)

In [7]:
#change the data type of a column that isn't needed for our analysis
df_ords['order_id']= df_ords['order_id'].astype('str')

In [8]:
df_ords['order_id'].dtype

dtype('O')

In [9]:
#import the departments csv
df_deps = pd.read_csv(os.path.join(path, '02 data', 'Original data', 'departments.csv'), index_col = False)

In [10]:
df_deps.head(10)

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [11]:
#transform the the departments df and create a correct header
df_deps_t = df_deps.T
df_deps_t.reset_index()
new_header = df_deps_t.iloc[0]
df_deps_t_new = df_deps_t[1:]
df_deps_t_new.columns = new_header
df_deps_t_new.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

In [12]:
#create a dictionary of department ids
data_dict = df_deps_t_new.to_dict('index')

In [13]:
data_dict.get('19')

{'department': 'snacks'}

This section was not needed for the answers so I commented them out so I wouldn't recreate unneeded data

In [ ]:
#df_prod.head()
#df_prod[df_prod['product_id']==19]
#df_snacks = df_prod[df_prod['department_id']==19]
#df_snacks
#df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

# Below are answers to exercise 4.4

In [14]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
#change the data type of a variable that is not needed for analysis
df_ords['order_id']= df_ords['order_id'].astype('str')

In [7]:
#rename a column
df_ords.rename(columns={'order_number' : 'Cust_order_num'}, inplace=True)

In [15]:
#get the frequency of order_hour_of_day
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [21]:
#what department is id 4
data_dict.get('4')

{'department': 'produce'}

In [22]:
#create a df of only breakfast food
df_break = df_prod[df_prod['department_id']==14]

In [18]:
#create a df of identified party departments
df_dinpty = df_prod.loc[df_prod['department_id'].isin([5,20,7,12])]
df_dinpty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7650 entries, 2 to 49688
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     7650 non-null   int64
 1   product_name   7647 non-null   object
 2   aisle_id       7650 non-null   int64
 3   department_id  7650 non-null   int64
 4   prices         7650 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 358.6+ KB

In [23]:
#pull all order information on user 1
df_user1 = df_ords[df_ords['user_id']==1]
df_user1.describe()

,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.0,6.000000,2.636364,10.090909,19.000000
std,0.0,3.316625,1.286291,3.477198,9.030811
min,1.0,1.000000,1.000000,7.000000,0.000000
25%,1.0,3.500000,1.500000,7.500000,14.250000
50%,1.0,6.000000,3.000000,8.000000,19.500000
75%,1.0,8.500000,4.000000,13.000000,26.250000
max,1.0,11.000000,4.000000,16.000000,30.000000

In [25]:
df_ords.head()

,order_id,user_id,Cust_order_num,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
#export data frames
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))
df_deps_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))